@charset "UTF-8";

body {
	background-color: white;
	margin: 0;
	color: gray;
	overflow-x: hidden;
	/*font-family: monospace;*/
}

header {
	height: 65px;
	width: 100%;
	background-color: #126975;
	display: flex;
	position: fixed;
	z-index: 100;
	box-shadow: 0 0 2vh black;
}

header > .section_name {
	color: white;
	font-size: 25px;
	font-family: sans-serif;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 20%;
}

footer {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: #f7f9f6;
	bottom: 0;
	box-shadow: 0 0 5px 0 black;
}

.user_data_block {
	width: 100%;
	height: auto;
	/*background-color: #8e81f9;*/
	margin-top: 20px;
	font-family: Calibri;
}

.user_data_block > span {
	padding-right: 10px;
}

.context_menu {
	position: fixed;
	width: 400px;
	height: 100%;
	left: -400px;
	top: 0;
	transition: 0.5s ease;
	background-color: crimson;
}

.open_menu > .context_menu {
	width: 400px;
	height: 100%;
	background-color: crimson;
	position: fixed;
	left: 0;
	top: 0;
}

.section_wrapper {
	position: relative;
	left: 0;
	transition: 0.5s ease;
}

.open_menu > .section_wrapper {
	/*margin-left: 250px;*/
	position: relative;
	left: 400px;
}

.open_menu > .section_wrapper > .side_back_button {
	left: 400px;
	transition: 0.5s ease;
}

#root {
	padding-left: 150px;
	padding-top: 65px;
	/*padding-bottom: 39px;*/
	padding-right: 0;
	box-shadow: 0 0 10px black;
}

#input {
	width: 80%;
	height: 80%;
	border: none;
	font-family: sans-serif;
	font-size: 23px;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
}

.wrapper {
	height: auto;
	border: gray solid 0.2vh;
	border-top: transparent;
	border-right: transparent;
	padding: 3vh 40px 3vh 3vh;
	/*margin: 0 5px 0 5px;*/
	cursor: pointer;
	position: relative;
	font-size: 18px;
	color: gray;
	/*box-shadow: 0 0 0.2vh black;*/
	/*background-color: white;*/
}

.side_back_button {
	position: fixed;
	width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s ease;
	left: 0;
	color: #092444;
	font-size: 20px;
	background-color: #f2e8f9;
}

.side_back_button > span {
	margin-top: 40px;
}

.side_back_button:hover {
	opacity: 1;
	background-color: #f2e8f9;
}

.wrapper > h3 {
	margin: 0;
	color: #092444;
}

.wrapper > p {
	margin-top: 5vh;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wrapper p > img {
	width: 0;
}

.wrapper:hover {
	background-color: #E9E4E3;
}

.postWrapper {
	padding: 3vh;
	font-family: sans-serif;
	font-size: 23px;
}
.postWrapper > h2 {
	color: #092444;
	font-size: 1.2em;
}

.marker {
	background-color: #a7ab06;
}

.caption {
	font-size: 30px;
	margin-top: 15vh;
	margin-bottom: 5vh;
}

#answer {
	width: 100%;
	height: 30vh;
	border: 1px gray solid;
	font-size: 18px;
}

label {
	font-size: 20px;
}

#question {
	width: 100%;
	border: 1px solid gray;
	height: 6vh;
	font-size: 18px;
	margin-bottom: 2vh;
}

img {
	width: auto;
	max-width: 70vh;
	float: left;
	clear: left;
}

.questionNumber {
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
	color: white;
}

.louder {
	position: absolute;
	height: 5vh;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(50% - 2.5vh);
	left: calc(50% - 5vw);
	font-family: sans-serif;
}

@media screen and (max-width:550px) {
	.back {
		background-size: 6vh 6vh;
	}
}

@media screen and (max-width:480px) {
	.back {
		background-size: 5vh 5vh;
	}
	img {
		max-width: calc(100vw - 6vh);
	}
}

@media screen and (max-width:390px) {
	.back {
		background-size: 4vh 4vh;
	}
}

/*Анимации меню сендвича*/
.menu {
	height: 100%;
	width: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.menu_sandwich {
	width: 44px;
	height: 44px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
}

.menu_sandwich > span {
	display: block;
	width: 100%;
	height: 5px;
	background-color: white;
	transition: 0.08s linear;
}

.menu_sandwich > span:nth-child(2) {
	margin-top: 6px;
	margin-bottom: 6px;
}

.close:hover > .menu_sandwich > span:nth-child(2) {
	transition: 0.1s linear;
	margin-top: 10px;
	margin-bottom: 10px;
}

.open:hover > .menu_sandwich > span:nth-child(2) {
	transition: 0.1s linear;
}

.open .menu_sandwich span {
	transition: 0.2s linear;
}

.open .menu_sandwich span:nth-child(2) {
	opacity: 0;
	margin-bottom: 10px;
	margin-top: 11px;
}

.open .menu_sandwich span:nth-child(1) {
	transform-origin: 0 50%;
	transform: rotateZ(45deg);
}

.open .menu_sandwich span:nth-child(3) {
	transform-origin: 0 50%;
	transform: rotateZ(-45deg);
}